roastlinkedin_v2_auth.json
{
    "name": "[PRO] Roast LinkedIn - ScrapingDog Edition",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "roast",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-id",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                3400,
                1100
            ],
            "webhookId": "roast-webhook"
        },
        {
            "parameters": {
                "jsCode": "const rawUrl = items[0].json.body.linkedinUrl;\nconst cleanUrl = rawUrl.split('?')[0].split('/?')[0];\nreturn [{ json: { ...items[0].json, cleanUrl } }];"
            },
            "id": "url-sanitizer-id",
            "name": "URL Sanitizer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3600,
                1100
            ]
        },
        {
            "parameters": {
                "url": "=https://api.scrapingdog.com/linkedin",
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "METTI_QUI_TUA_API_KEY_SCRAPINGDOG"
                        },
                        {
                            "name": "type",
                            "value": "profile"
                        },
                        {
                            "name": "url",
                            "value": "={{ $json.cleanUrl }}"
                        }
                    ]
                },
                "options": {
                    "responseFormat": "json"
                }
            },
            "id": "scrapingdog-id",
            "name": "ScrapingDog Pro",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                3800,
                1100
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Analizza questo profilo LinkedIn fornito in formato JSON da ScrapingDog:\n\n{{ JSON.stringify($json) }}\n\nTUO COMPITO:\nGenera un roast cattivo, spietato e divertente in lingua ITALIANA.\n\nSii vario nei voti:\n- 1-3 se il profilo è pieno di buzzword, titoli pomposi o certificati inutili.\n- 4-6 se è mediocre e noioso.\n- 7-9 se è sorprendentemente buono, ma prendilo in giro per essere un 'leccapiedi dei recruiter'.\n\nRispondi SOLO in JSON.",
                "options": {
                    "systemMessage": "=Sei un recruiter cinico, stanco della vita e assolutamente spietato. \n\nJSON STRUCTURE:\n{\n  \"score\": \"Voto da 1 a 10\",\n  \"roast\": \"Testo del roast\",\n  \"redFlag\": \"Red flag principale\",\n  \"nickname\": \"Soprannome offensivo\",\n  \"advice\": [\"3 consigli sarcastici\"],\n  \"sharePost\": \"Testo per un post LinkedIn (es: 'Ho appena scoperto di avere un Branding Score di [score] su Roast MY LinkedIn. La verità fa male. Prova anche tu: [LINK]')\"\n}"
                }
            },
            "id": "ai-agent-id",
            "name": "AI Roast Hunter",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                4000,
                1100
            ]
        },
        {
            "parameters": {
                "model": "gpt-4.1-mini",
                "options": {
                    "temperature": 0.8
                }
            },
            "id": "openai-id",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                3900,
                1300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "vpHAMAvQ1ApMq2Ex",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  const rawOutput = items[0].json.output;\n  const cleanOutput = rawOutput.replace(/```json\\n?|```/g, '').trim();\n  return [{ json: JSON.parse(cleanOutput) }];\n} catch (e) {\n  return [{ json: { score: \"5/10\", roast: \"Il tuo profilo è così brutto che pure l'AI è andata in crash.\", advice: [\"Formatta meglio\", \"Cancella l'account\"] } }];\n}"
            },
            "id": "parse-json-id",
            "name": "Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4200,
                1100
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                }
            },
            "id": "response-id",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                4400,
                1100
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "URL Sanitizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "URL Sanitizer": {
            "main": [
                [
                    {
                        "node": "ScrapingDog Pro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ScrapingDog Pro": {
            "main": [
                [
                    {
                        "node": "AI Roast Hunter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Roast Hunter": {
            "main": [
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Roast Hunter",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}