roastlinkedin_v2_auth.json
{
    "name": "[FB] roastlinkedin (Cleaned & Auth)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "roast",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "a3791d4e-a0e1-477b-b84c-08a6f4229efe",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                3700,
                1088
            ],
            "webhookId": "roast-webhook"
        },
        {
            "parameters": {
                "url": "={{ $json[\"body\"][\"linkedinUrl\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Cookie",
                            "value": "li_at=AQEDAWPzIDYF5ZjPAAABnAvE39MAAAGcL9Fj000Afyv5ilQ8hspCU3dz27YuCbY5OxUHnxLs46LlSnKghBtTq1w_nqqG8wm3UCQNDCaGB_Bk4Fn9ssdRVNfEtvbyx7_cQY_KYzWjFpvk4Uzvt9IUAUaB"
                        },
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                        }
                    ]
                },
                "options": {
                    "responseFormat": "string"
                }
            },
            "id": "scraper-node-id",
            "name": "LinkedIn Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                3880,
                1088
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = items[0].json.data;\nif (!html) return [{ json: { cleanedText: \"No content found\" } }];\n\n// Rimuove tag inutili e converte in testo\nlet text = html\n  .replace(/<script\\b[^>]*>([\\s\\S]*?)<\\/script>/gmi, \"\")\n  .replace(/<style\\b[^>]*>([\\s\\S]*?)<\\/style>/gmi, \"\")\n  .replace(/<svg\\b[^>]*>([\\s\\S]*?)<\\/svg>/gmi, \"\")\n  .replace(/<[^>]+>/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// Limita a 15.000 caratteri per stare sotto i limiti TPM di OpenAI\ntext = text.substring(0, 15000);\n\nreturn [{ json: { cleanedText: text } }];"
            },
            "id": "clean-html-id",
            "name": "Clean HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4060,
                1088
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Analizza questo profilo LinkedIn: {{ $node[\"Webhook\"].json[\"body\"][\"linkedinUrl\"] }}.\n\nEcco i dati salienti del profilo (testo pulito):\n{{ $json[\"cleanedText\"] }}\n\nUsa queste informazioni (ed eventualmente i tuoi strumenti come SerpAPI se i dati sono insufficienti) per generare un roast cattivo, divertente e spietato in JSON in lingua ITALIANA.\n\nSii ESTREMO nel voto: \n- Se il profilo è pieno di buzzword inutili (Synergy, Passionate, Visionary), dai un voto tra 1 e 3.\n- Se il profilo è stranamente decente, dai un 7-8 ma prendilo in giro per essere troppo 'perfettino'.\n- Evita di dare sempre 3. Vogliamo varietà!",
                "options": {
                    "systemMessage": "=Sei un recruiter cinico, stanco della vita e assolutamente spietato. \n\nTUO COMPITO:\n1. Analizza i dati del profilo forniti.\n2. Genera un roast cattivo in JSON.\n3. Crea un testo per un post LinkedIn per condividere questo fallimento.\n\nJSON STRUCTURE:\n{\n  \"score\": \"Voto da 1 a 10 (Sii cattivo e vario)\",\n  \"roast\": \"Testo del roast\",\n  \"redFlag\": \"Red flag principale\",\n  \"nickname\": \"Soprannome offensivo\",\n  \"advice\": [\"3 consigli sarcastici\"],\n  \"sharePost\": \"Testo per un post LinkedIn (es: 'Ho appena scoperto di essere un [nickname] con un voto di [score] su Roast MY LinkedIn. La verità fa male. Prova anche tu: [LINK]')\"\n}\n\nRispondi solo con il JSON, nient'altro testo."
                }
            },
            "id": "d6b07923-5995-4e70-863f-f96f603622f7",
            "name": "AI Roast Hunter",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                4240,
                1088
            ]
        },
        {
            "parameters": {
                "model": "gpt-4.1-mini",
                "options": {
                    "temperature": 0.8
                }
            },
            "id": "74b6d051-5c76-49b0-80cf-93c410fb4031",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                4200,
                1300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "vpHAMAvQ1ApMq2Ex",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  const rawOutput = items[0].json.output;\n  const cleanOutput = rawOutput.replace(/```json\\n?|```/g, '').trim();\n  const parsed = JSON.parse(cleanOutput);\n  return [{ json: parsed }];\n} catch (e) {\n  return [{\n    json: {\n      score: \"5/10\",\n      roast: \"L'AI ha avuto un glitch cercando di capire il tuo profilo.\",\n      redFlag: \"Errore di parsing dei dati.\",\n      nickname: \"Il Glitch Aziendale\",\n      advice: [\"Riprova\", \"URL non valido\", \"Sii meno criptico\"]\n    }\n  }];\n}"
            },
            "id": "9f5e9fad-f910-4b94-816c-9fb7a980761f",
            "name": "Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4500,
                1088
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                }
            },
            "id": "6208cfc2-6289-49d9-a95a-e7e5cb2edb7d",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                4700,
                1088
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
            "typeVersion": 1,
            "position": [
                4400,
                1300
            ],
            "id": "46232133-8789-41e8-b0ca-3e21eda28909",
            "name": "SerpAPI",
            "credentials": {
                "serpApi": {
                    "id": "d20LsYwRBtVnJseZ",
                    "name": "SerpAPI account (CellPK)"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "LinkedIn Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LinkedIn Scraper": {
            "main": [
                [
                    {
                        "node": "Clean HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean HTML": {
            "main": [
                [
                    {
                        "node": "AI Roast Hunter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Roast Hunter": {
            "main": [
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Roast Hunter",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI": {
            "ai_tool": [
                [
                    {
                        "node": "AI Roast Hunter",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "v3-optimized",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "75472f632ef2eaaec3510a26bcc922f9c0ba9e4c3ddc31e6e01c3710a32dea43"
    },
    "id": "jPqTMM3VWu1I8XBL",
    "tags": []
}